ul.lst-kix_imdnb1lb1w99-0 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-1 {
  list-style-type: none
}

.lst-kix_24il8zarp783-1>li:before {
  content: "\0025cb  "
}

.lst-kix_24il8zarp783-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_imdnb1lb1w99-2 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-3 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-4 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-5 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-6 {
  list-style-type: none
}

ul.lst-kix_imdnb1lb1w99-7 {
  list-style-type: none
}

.lst-kix_24il8zarp783-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_mgfin9llen9o-4 {
  list-style-type: none
}

ul.lst-kix_mgfin9llen9o-5 {
  list-style-type: none
}

.lst-kix_51oxooj5zwhi-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_mgfin9llen9o-2 {
  list-style-type: none
}

ul.lst-kix_mgfin9llen9o-3 {
  list-style-type: none
}

ul.lst-kix_mgfin9llen9o-8 {
  list-style-type: none
}

.lst-kix_51oxooj5zwhi-3>li:before {
  content: "\0025cf  "
}

.lst-kix_51oxooj5zwhi-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_mgfin9llen9o-6 {
  list-style-type: none
}

ul.lst-kix_mgfin9llen9o-7 {
  list-style-type: none
}

.lst-kix_3irl4sxwk4x5-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_imdnb1lb1w99-8 {
  list-style-type: none
}

.lst-kix_24il8zarp783-5>li:before {
  content: "\0025a0  "
}

.lst-kix_51oxooj5zwhi-5>li:before {
  content: "\0025a0  "
}

.lst-kix_51oxooj5zwhi-6>li:before {
  content: "\0025cf  "
}

.lst-kix_3irl4sxwk4x5-6>li:before {
  content: "\0025cf  "
}

.lst-kix_3irl4sxwk4x5-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_mgfin9llen9o-0 {
  list-style-type: none
}

.lst-kix_24il8zarp783-3>li:before {
  content: "\0025cf  "
}

.lst-kix_24il8zarp783-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_mgfin9llen9o-1 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-7 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-4 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-8 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-3 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-5 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-6 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-6 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-5 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-0 {
  list-style-type: none
}

.lst-kix_51oxooj5zwhi-7>li:before {
  content: "\0025cb  "
}

.lst-kix_51oxooj5zwhi-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_24il8zarp783-2 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-1 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-0 {
  list-style-type: none
}

.lst-kix_24il8zarp783-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ga4kr62vlq6d-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_3irl4sxwk4x5-3 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-4 {
  list-style-type: none
}

.lst-kix_24il8zarp783-7>li:before {
  content: "\0025cb  "
}

.lst-kix_24il8zarp783-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ga4kr62vlq6d-1>li:before {
  content: "\0025cb  "
}

.lst-kix_ga4kr62vlq6d-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_3irl4sxwk4x5-1 {
  list-style-type: none
}

ul.lst-kix_3irl4sxwk4x5-2 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-4 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-3 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-0 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-6 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-5 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-2 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-8 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-1 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-7 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-4 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-3 {
  list-style-type: none
}

.lst-kix_yybj7s9baeqj-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ga4kr62vlq6d-4>li:before {
  content: "\0025cb  "
}

.lst-kix_yybj7s9baeqj-4>li:before {
  content: "\0025cb  "
}

.lst-kix_3irl4sxwk4x5-0>li:before {
  content: "\0025cf  "
}

.lst-kix_yybj7s9baeqj-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_24il8zarp783-8 {
  list-style-type: none
}

ul.lst-kix_24il8zarp783-7 {
  list-style-type: none
}

.lst-kix_ga4kr62vlq6d-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ga4kr62vlq6d-6>li:before {
  content: "\0025cf  "
}

.lst-kix_yybj7s9baeqj-1>li:before {
  content: "\0025cb  "
}

.lst-kix_3irl4sxwk4x5-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ga4kr62vlq6d-7>li:before {
  content: "\0025cb  "
}

.lst-kix_yybj7s9baeqj-0>li:before {
  content: "\0025cf  "
}

.lst-kix_yybj7s9baeqj-2>li:before {
  content: "\0025a0  "
}

.lst-kix_3irl4sxwk4x5-2>li:before {
  content: "\0025a0  "
}

.lst-kix_3irl4sxwk4x5-4>li:before {
  content: "\0025cb  "
}

.lst-kix_ga4kr62vlq6d-8>li:before {
  content: "\0025a0  "
}

.lst-kix_3irl4sxwk4x5-1>li:before {
  content: "\0025cb  "
}

.lst-kix_3irl4sxwk4x5-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_ga4kr62vlq6d-6 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-5 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-8 {
  list-style-type: none
}

ul.lst-kix_ga4kr62vlq6d-7 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-0 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-2 {
  list-style-type: none
}

ul.lst-kix_51oxooj5zwhi-1 {
  list-style-type: none
}

.lst-kix_51oxooj5zwhi-1>li:before {
  content: "\0025cb  "
}

.lst-kix_51oxooj5zwhi-0>li:before {
  content: "\0025cf  "
}

.lst-kix_t8wdu5j6pmb5-2>li:before {
  content: "-  "
}

.lst-kix_t8wdu5j6pmb5-0>li:before {
  content: "-  "
}

.lst-kix_t8wdu5j6pmb5-1>li:before {
  content: "-  "
}

ul.lst-kix_yombe7mvbgti-0 {
  list-style-type: none
}

.lst-kix_4e9omdwesy5o-2>li:before {
  content: "\0025a0  "
}

.lst-kix_4e9omdwesy5o-4>li:before {
  content: "\0025cb  "
}

.lst-kix_mgfin9llen9o-8>li:before {
  content: "\0025a0  "
}

.lst-kix_4e9omdwesy5o-1>li:before {
  content: "\0025cb  "
}

.lst-kix_4e9omdwesy5o-5>li:before {
  content: "\0025a0  "
}

.lst-kix_mgfin9llen9o-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_t8wdu5j6pmb5-3 {
  list-style-type: none
}

ul.lst-kix_t8wdu5j6pmb5-2 {
  list-style-type: none
}

ul.lst-kix_t8wdu5j6pmb5-1 {
  list-style-type: none
}

.lst-kix_4e9omdwesy5o-0>li:before {
  content: "\0025cf  "
}

.lst-kix_4e9omdwesy5o-6>li:before {
  content: "\0025cf  "
}

.lst-kix_4e9omdwesy5o-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_t8wdu5j6pmb5-0 {
  list-style-type: none
}

.lst-kix_mgfin9llen9o-5>li:before {
  content: "\0025a0  "
}

.lst-kix_mgfin9llen9o-6>li:before {
  content: "\0025cf  "
}

.lst-kix_4e9omdwesy5o-7>li:before {
  content: "\0025cb  "
}

.lst-kix_mgfin9llen9o-3>li:before {
  content: "\0025cf  "
}

.lst-kix_t8wdu5j6pmb5-3>li:before {
  content: "-  "
}

.lst-kix_imdnb1lb1w99-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_t8wdu5j6pmb5-8 {
  list-style-type: none
}

.lst-kix_imdnb1lb1w99-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_t8wdu5j6pmb5-7 {
  list-style-type: none
}

.lst-kix_t8wdu5j6pmb5-4>li:before {
  content: "-  "
}

.lst-kix_t8wdu5j6pmb5-5>li:before {
  content: "-  "
}

ul.lst-kix_t8wdu5j6pmb5-6 {
  list-style-type: none
}

.lst-kix_mgfin9llen9o-0>li:before {
  content: "\0025cf  "
}

.lst-kix_mgfin9llen9o-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_t8wdu5j6pmb5-5 {
  list-style-type: none
}

ul.lst-kix_t8wdu5j6pmb5-4 {
  list-style-type: none
}

.lst-kix_t8wdu5j6pmb5-6>li:before {
  content: "-  "
}

.lst-kix_t8wdu5j6pmb5-7>li:before {
  content: "-  "
}

.lst-kix_mgfin9llen9o-1>li:before {
  content: "\0025cb  "
}

.lst-kix_mgfin9llen9o-2>li:before {
  content: "\0025a0  "
}

.lst-kix_imdnb1lb1w99-0>li:before {
  content: "\0025cf  "
}

.lst-kix_imdnb1lb1w99-1>li:before {
  content: "\0025cb  "
}

.lst-kix_t8wdu5j6pmb5-8>li:before {
  content: "-  "
}

.lst-kix_imdnb1lb1w99-6>li:before {
  content: "\0025cf  "
}

.lst-kix_imdnb1lb1w99-5>li:before {
  content: "\0025a0  "
}

.lst-kix_imdnb1lb1w99-4>li:before {
  content: "\0025cb  "
}

.lst-kix_imdnb1lb1w99-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_yombe7mvbgti-6 {
  list-style-type: none
}

ul.lst-kix_yombe7mvbgti-5 {
  list-style-type: none
}

.lst-kix_yybj7s9baeqj-6>li:before {
  content: "\0025cf  "
}

.lst-kix_imdnb1lb1w99-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_yombe7mvbgti-8 {
  list-style-type: none
}

ul.lst-kix_yombe7mvbgti-7 {
  list-style-type: none
}

.lst-kix_yybj7s9baeqj-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_yombe7mvbgti-2 {
  list-style-type: none
}

ul.lst-kix_yombe7mvbgti-1 {
  list-style-type: none
}

ul.lst-kix_yombe7mvbgti-4 {
  list-style-type: none
}

.lst-kix_4e9omdwesy5o-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_yombe7mvbgti-3 {
  list-style-type: none
}

.lst-kix_yombe7mvbgti-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ga4kr62vlq6d-0>li:before {
  content: "\0025cf  "
}

.lst-kix_yybj7s9baeqj-8>li:before {
  content: "\0025a0  "
}

.lst-kix_yombe7mvbgti-4>li:before {
  content: "\0025cb  "
}

.lst-kix_yombe7mvbgti-8>li:before {
  content: "\0025a0  "
}

.lst-kix_yombe7mvbgti-7>li:before {
  content: "\0025cb  "
}

.lst-kix_yombe7mvbgti-6>li:before {
  content: "\0025cf  "
}

.lst-kix_yombe7mvbgti-0>li:before {
  content: "\0025cf  "
}

.lst-kix_yombe7mvbgti-1>li:before {
  content: "\0025cb  "
}

.lst-kix_yombe7mvbgti-3>li:before {
  content: "\0025cf  "
}

.lst-kix_yombe7mvbgti-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_yybj7s9baeqj-2 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-1 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-0 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-6 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-5 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-4 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-3 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-5 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-6 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-7 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-8 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-0 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-1 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-2 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-3 {
  list-style-type: none
}

ul.lst-kix_4e9omdwesy5o-4 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-8 {
  list-style-type: none
}

ul.lst-kix_yybj7s9baeqj-7 {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: italic
}

.c10 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c15 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: "Arial";
  font-style: normal
}

.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c14 {
  background-color: #ffffff;
}

.c7 {
  padding: 0;
  margin: 0
}

.c2 {
  text-indent: 36pt
}

.c5 {
  margin-left: 72pt
}

.c6 {
  height: 11pt
}

.c9 {
  padding-left: 0pt
}

.c4 {
  font-style: italic
}

.c8 {
  margin-left: 36pt
}

.c11 {
  font-weight: 700
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
